
#logoNavbar{
    width: 100px;   
    height: 100px;
    border-radius: 50px;
}


.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: auto;
    background-image: url('../img/fondoHeader.jpg');
    background-repeat: no-repeat;
    background-position: 50% 45%;
    border-bottom: solid #ce9835 10px;
}

.header h1{
    background-color: rgba(255, 255, 255, 0.2);
    color: #313131;
    font-size: 65px;
    text-align: center;
    padding: 15px;
    margin: 1rem 2rem 0 2rem;
    border-radius: 30px;
    
}